

/**** ADD YOUR STYLES ****/

#englishSentenceRankings {
  border: 1px solid black;
}

#spanishSentenceRankings {
  border: 1px solid black;
}

h2 {
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 14px;
}


.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
  shape-rendering:crispEdges;
}
.edges{
  stroke:none;
  fill-opacity:0.5;
}
